@{
    ViewData["Title"] = "Home Page";
}
<style>
    body {
        color: green;
        background-color: cyan;
    }

    label {
        color: blue;
    }

    button {
        color: purple;
    }

    p {
        color yellow;
    }

    footer {
        color: orange;
    }
    }
</style>
<body>
    <header>
        <h1>This is me</h1><button>You already know me</button><button>Lets get started</button>
    </header>
    <main>
        </br>
        <label>Iamge 1</label>  <label>Iamge 2</label>  <label>Iamge 3</label>  <label>Iamge 4</label>  <label>Iamge 5</label>
        </br>
        <footer>
            <p>About me for HMTL Class Pablo Gamez</p>
        </footer>
    </main>
</body>